/* Common styles */
body {
    font-family: 'Merriweather', serif;
    ;
}

/* header styles start */

.headingthreeone {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 170px 0px 0px 0px;
}

.headingone {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin: 16px auto;
    width: 700px;
}

.banner {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: auto;
}

/* header styles end */

.sale {
    margin: 120px auto;
    text-align: center;

}

.sale-heading {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin: 35px auto;
}

.sale-comment {
    color: #F00;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sale-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.midnight {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.midnightmini {
    padding-left: 125px;
    padding-top: 40px;
}

.midnight-title {
    width: 640px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    margin: 24px 0px;
}

.midnight-content {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 12px 5px;

}

.btn-primary {
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #FFF;
    background-color: #ff3636;
    padding: 16px 32px;
    margin-top: 24px;
}

.groupseventy {
    height: 460px;
    width: 320px;
    padding-right: 125px;
    padding-top: 40px;
}

.date-time-info {
    height: 482px;
    width: 1320px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 10px;
    margin: auto;
    margin-top: 120px;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.red {
    color: #FF0000;
}

.main-info {
    padding: 100px 385px 20px 385px;

}

.place {
    margin: 0px;
}

.date {
    margin: 12px auto;
}

.time {
    margin-top: 12px;
    margin-bottom: 30px;

}

.btn-primary-two {
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #FFF;
    background-color: #ff3636;
    padding: 16px 32px;
}

.bonus-mark-part {
    width: 1320px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px auto;
}

.title-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.first-part-para {
    height: 130px;
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.left-part-para {
    height: 95px;
    width: 275px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.round-part {
    padding-right: 60px;
}


.round-img {

    padding: 20px;
    border: 15px solid red;
    border-radius: 100%;

}

.optional {
    text-align: center;
    height: 986px;
    width: 1320px;
    background-image: url('./resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 120px auto;

}

.heading-func {
    padding-top: 20px;
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin: 15px auto;
}

.fifty-per-sale {
    color: #070211;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin: 0px;
}

.optional-p {
    margin-bottom: 111px;
}

.optional-images {
    text-align: right;
}

.girl {

    margin-bottom: 0px;
}

.discount {}

.gift-box {}

.main-part {
    max-height: 1165px;
    max-width: 1320px;
    margin: auto;
}

.main-part-images {
    justify-content: space-between;
    gap: 20px;
}

.img{
    transition: 0.15s;
}

.img:hover{
    opacity: 70%;
}

.main-part-title {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

.main-part-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.main-part-descrip {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 890px;
}

.row-one {
    display: flex;
    justify-content: space-between;
}


.row-two {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}


.subs-section {
    max-width: 1320px;
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
}

.news-img {
    padding: 80px 585px 20px 585px;
}

.news-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.news-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

#email {
    height: 72px;
    width: 430px;
    border: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 0px 15px;
}

.last-btn{
    
    height: 72px;
    width: 200px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 0px;
    background-color: #FF0000;
    color: #FFF;
    margin-left: -4px ;
}

.email-box-part{
    
}

/* footer styles */

footer {

    color: #FFF;
    background-color: #070211;
    margin: 0px auto;
    max-width: 1600px;
    height: 609px;
}

.footer-content {
    display: flex;
    padding: 120px 140px;
    justify-content: space-between;
}

.part-one {
    display: flex;
    align-items: center;
}



.part-two {
    display: flex;
    align-items: center;
}

.num {
    padding-left: 10px;
}

.link {
    margin: 0;
    padding-left: 10px;
}

hr {
    height: 0px;
    width: 1320px;
    border: 1px solid #ffffff26;
}

.socials-img-container {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.ending-part {
    display: flex;
    padding: 10px 140px;
    justify-content: space-between;
}